# Amplify Environment Variables
# These should be configured in Amplify Console after app creation

NEXT_PUBLIC_API_URL=https://9jvk35eykg.execute-api.eu-central-1.amazonaws.com
NEXT_PUBLIC_COGNITO_USER_POOL_ID=eu-central-1_PSOdHsqEA
NEXT_PUBLIC_COGNITO_USER_POOL_CLIENT_ID=2se23cclvnsk896gs7k5pffb40
NEXT_PUBLIC_COGNITO_REGION=eu-central-1
NEXT_PUBLIC_S3_BUCKET=ecobid-items-191138354216
NEXT_PUBLIC_S3_REGION=eu-central-1
